# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# IDE / Editor directories
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db

# Optional npm log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
