<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">

    <title>Street Vendor Helper</title>
</head>
<body>
    <main>
        <nav class="container-fluid">
            <ul>
                <li class="company"><strong>Street Vendor Helper</strong></li>
            </ul>
            <ul>
                <li class="nav-button"><a href="#">Home</a></li>
                <li class="nav-button"><a href="#">Events</a></li>
                <li class="nav-button"><a href="#">Submit Event</a></li>
                <li class="nav-button"><a href="#">Sign Up/Log In</a></li>
                <li class="nav-button"><a href="#">Contact</a></li>
            </ul>
        </nav>